.Header {
  flex-grow: 1;
  width: 95%;
}

.Header .flex-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.Header .grow {
  flex-grow: 1;
}

.Header .github-logo {
  height: 30px;
  fill: white;
  fill: currentColor;
}
.Header .github-logo svg{
  color: white;
  fill: currentColor;
}

.Header .menu-container {
  align-self: flex-end;
}

.Header .logo-container {
}

.Header .horizontal-line {
}
