.links a {
  color: #003C80;
  text-decoration: none;
}

.links a:visited {
  color: #003C80;
  text-decoration: none;
}

.links a:hover {
  color: #003C80;
  text-decoration: none;
}

.links a:active {
  color: #003C80;
  text-decoration: none;
}
