<section class="resume-section p-3 p-lg-5 d-flex flex-column" id="trainings">
  <div class="my-auto">
    <div class="pb-2 pt-3">
      <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
      <p class="lead">Практические тренинги для разработчиков и команд.</p>
    </div>
    <h3 class="mb-3"><a href="{{ .RelPermalink }}">Юнит-тестирование и TDD</a></h3>
    <p>Двухдневный корпоративный интенсив для команд разработки.</p>
    <p><a href="{{ .RelPermalink }}">Подробнее...</a></p>
  </div>
</section>
